{% extends 'base.html.twig' %}

{% block title %}Edit a student{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-12">
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-block btn-success" type="submit">Edit student</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
